<%= form_for([:admin,@food]) do |f|%>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
<%= f.label "Name:"%> </br>
<%= f.text_field :name %>
</p>

<p>
<%= f.label "Description:"%> </br>
<%= f.text_area :description %>
</p>


<p>
<%= f.label "Quantity on hand:"%> </br>
<%= f.text_field :qty_on_hand %>
</p>


<p>
<%= f.submit button%>
</p>
<%end%>