<%= form_for([:admin,@subscriber]) do |f|%>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
<%= f.label "First Name:"%> </br>
<%= f.text_field :first_name %>
</p>


<p>
<%= f.label "Last Name:"%> </br>
<%= f.text_field :last_name %>
</p>


<p>
<%= f.label "Email address:"%> </br>
<%= f.text_field :email %>
</p>


<p>
<%= f.label "Contact Number:"%> </br>
<%= f.text_field :contact_no %>
</p>
<p>

<%= f.label "Status:"%> </br>
<%= f.select :status, ["Pending","Active","Cancelled"] %>
</p>

<p>
<%= f.submit button%>
</p>
<%end%>