<div id="search_results">

		<table id="search_table" align="center">
		<tr class="table_caption"><td><img src="/images/admin/Zoom-icon.png" height="16">
<%if @animals.empty? && @employees.empty? && @events.empty? && @habitats.empty?%>
		NO RESULTS FOR
<%else%>
		RESULTS FOR
<%end%>
		"<%=params[:search_string]%>"</td></tr>
		</table></br>

<% unless @animals.empty? %> 
	<%= render :partial=>'animal_search_results' %>
	</br>
<%end%>



<% unless @employees.empty? %> 
	<%= render :partial=>'employee_search_results' %>
	</br>
<%end%>

<% unless  @events.empty? %> 
	<%= render :partial=>'events_search_results' %>
	</br>
<%end%>

<% unless  @habitats.empty? %> 
	<%= render :partial=>'habitats_search_results' %>
<%end%>

</div>