<%= form_for([:admin,@zoomap]) do |f|%>
  <% if @zoomap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zoomap.errors.count, "error") %> prohibited this zoomap from being saved:</h2>

      <ul>
      <% @zoomap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
<%= f.label "Name:" %></br>
<%= f.text_field :name %>
</p>

<p>
<%= f.label "Map Image:" %></br>
<%= f.text_field :img_url %>
</p>

<p>
<%= f.label "Image Description:" %></br>
<%= f.text_area :img_description %>
</p>


<p>
<%= f.label "Description:" %></br> 
<%= f.text_area :description %>
</p>

<p>
<%= f.label "Status:"%> </br>
<%= f.select :status, ["Pending","Active","Cancelled"] %>
</p>

<p>
<%= f.submit button%>
</p>
<%end%>