<%= form_for([:admin,@sponsor]) do |f|%>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
<%= f.label "Name:"%> </br>
<%= f.text_field :name %>
</p>

<p>
<%= f.label "Contact No. :"%> </br>
<%= f.text_field :contact_no %>
</p>

<p>
<%= f.label "Sponsorship level:"%> </br>
<%= f.select :sponsorship_level, 1..10 %>
</p>


<%= f.label "Status:"%> </br>
<%= f.select :status, ["Pending","Active","Cancelled"] %>
</p>


<p>
<%= f.submit button%>
</p>
<%end%>