<div id="performances">
			<%= render :partial => 'performances' %>
</div>		
<div id=main>

<table align=center>
 <tr>
	<th align=center> 
		<%= link_to_remote  "<img src=/images/global/prev.gif />", :url=>'/previous_month', :method=>'get', :update=>'calendar' %> 
	</th>	
	<th align=center>	
		<h1> <%= @month %> &nbsp <%= @year %> </h1>
	</th>
	<th align=center>	
		<%= link_to_remote "<img src=/images/global/next.gif />",  :url=>'/next_month', :method=>'get', :update=>'calendar' %>	
	</th> 
 </tr>
</table>

 <ul> 
 
   <% @skip_days.times do %>
	<li class="notday"> &nbsp</li> 
   <% end %> 

   

   <% day = 0 %>
   <% @performances.each do |perform| %>
     <% while (day+=1) != perform.event_date.day && day <= @no_of_days %>
	   <%= "<ul>" if (day-1+@skip_days)%7==0 %>
	   <li><%= day %></li>
       
     <% end %>
	 <%= "<ul>" if (day==perform.event_date.day && (day)%7==0) %>
	 <li> <%= day %> <%= link_to_remote "<img src=#{perform.event.img_url} width=60px>",  :url=>"/show_events/#{perform.event_date}", :method=>'get', :update=>'performances' %></li>
   <% end %>
   

   
   <% if day <= @no_of_days %>
     <% (@no_of_days-day).times do |d| %>
     <%= "<ul>" if (day+d+@skip_days)%7==0 %><li><%= day+d+1 %></li>
     <% end %>
   <% end %>
   
   <% @trailing_days.times do %>
   <li class="notday"> &nbsp</li> 
   <% end %> 

</div>  
   
    
