<div id=clipboard>
	<h1> Mailing List </h1>
		<%= form_for (@subscriber), :url=>'subscribing' do |f| %>
			<%= hidden_field_tag :form_type, 'subscriber' %>
<% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
			
			<table>
				<tr>
					<td>First Name:</td><td><%= f.text_field :first_name %></td>
				</tr>
				<tr>
					<td>Last Name:</td><td><%= f.text_field :last_name %></td>
				</tr>
				<tr>
					<td>Email Address:</td><td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<td>Contact Number(optional):</td><td><%= f.text_field :contact_no %></td>
				</tr>
				<tr>
					<td><%= f.submit "Send Me Spam!" %></td>
				</tr>
			</table>
		<% end %>
</div>
