<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="icon" href="/images/global/favicon.png" type="image/ico" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ZoogBu</title>
  <%= stylesheet_link_tag 'global' %>
  <% if @title == "gallery" %> 
   
    <%= javascript_include_tag '/javascripts/gallery/jquery-1.4.2.min.js' %>
	<%= javascript_include_tag '/javascripts/gallery/jquery-ui-1.8.2.custom.min.js' %>
	<%= javascript_include_tag '/javascripts/gallery/large_thumbs.js' %>
    
  <% end %>
  <%= javascript_include_tag :defaults if (@title == "events" || @title == "subscribe" || @title == "zoogle" || @title == "home")%>
  
</head>
<body id=<%= @title %>>
	<div id="wrapper" >
	
  		<%= render :partial => 'banner' %>
		
		
  	        <%= flash[:notice] %>
	        <%= yield %>	
 		

        </div>
		<div style="clear: both;">&nbsp;</div>
	<div id="footer">
		Brought To You By Zoogbu
	</div>

</body>
</html>
